apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1 # Reduced for cost
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: ghcr.io/tpspace/thesis-fe:latest
          ports:
            - containerPort: 3000
          env:
            - name: NEXT_PUBLIC_GRAPHQL_URI
              value: http://backend:4000/graphql
          resources:
            limits:
              cpu: "500m"
              memory: "512Mi"
            requests:
              cpu: "200m"
              memory: "256Mi"
      imagePullSecrets:
        - name: ghcr-secret
